/*
 * Xilinx ZC702 board DTS
 *
 *  Copyright (C) 2011 - 2015 Xilinx
 *  Copyright (C) 2012 National Instruments Corp.
 *
 * SPDX-License-Identifier:	GPL-2.0+
 *
 * Modified for Z-turn Board
 */
/dts-v1/;
#include "zynq-7000.dtsi"
/ {
	model = "Zynq Zturn Board";
	compatible = "xlnx,zynq-zturn", "xlnx,zynq-7000";

	aliases {
		serial0 = &uart1;
		ethernet0 = &gem0;
		mmc0 = &sdhci0;
	};

	board {
		phys-reset-gpio = <&gpio0 51 1>; // Ethernet and USB PHY's reset pin
	};

	memory {
		device_type = "memory";
		reg = <0 0x30000000>; // Reserved 256MB for CPU1 BM Application
	};

	chosen {
		// Linux run in SMP mode, but only CPU0 is activated
		bootargs = "console=ttyPS0,115200 maxcpus=1 root=/dev/ram rw earlyprintk";
		linux,stdout-path = "/amba/serial@e0001000";
	};

	usb_phy0: phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
	};

	gpio-leds {
		compatible = "gpio-leds";
		led_g {
			label = "led_g";
			gpios = <&gpio0 0x72 0x1>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};

		led_b {
			label = "led_b";
			gpios = <&gpio0 0x73 0x1>;
			default-state = "off";
			linux,default-trigger = "none";
		};

		led_r {
			label = "led_r";
			gpios = <&gpio0 0x74 0x1>;
			default-state = "off";
			linux,default-trigger = "none";
		};

		usr_led1 {
			label = "usr_led1";
			gpios = <&gpio0 0x0 0x1>;
			default-state = "off";
			linux,default-trigger = "none";
		};

		usr_led2 {
			label = "usr_led2";
			gpios = <&gpio0 0x9 0x1>;
			default-state = "off";
			linux,default-trigger = "none";
		};
	};

	// Wrong?
	gpio-beep {
		compatible = "gpio-beeper";
		label = "pl-beep";
		gpios = <&gpio0 0x75 0x0>;
	};

	// Wrong?
	gpio-keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		autorepeat;
		K1 {
			label = "K1";
			// EMI050, active high
			gpios = <&gpio0 50 0>;
			linux,code = <0x66>;
			gpio-key,wakeup;
			autorepeat;
			// uncomment the following line to
			// make the button react only to a
			// protracted pressure
			//
			debounce-interval = <3000>;
		};
	};
};

&gpio0 {
    emio-gpio-width = <64>;
    gpio-mask-high = <0x0>;
    gpio-mask-low = <0x5600>;
    xlnx,emio-gpio-width = <0x40>;
    xlnx,mio-gpio-mask = <0x5600>;
};

&clkc {
	ps-clk-frequency = <33333333>;
};

&gem0 {
	status = "okay";
	phy-mode = "rgmii-id";
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 {
		reg = <0>;
	};
};

&sdhci0 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&uart1 {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&can0 {
	status = "okay";
};
